.btn {
  display: flex;
  width: 5rem;
  height: 1.75rem;
  padding: initial !important;
  margin: auto
}

.sr-only {
  display: none;
}

.pagination {
  justify-content: center
}

tr {

  th:last-child{
    display: flex;
    justify-content: center
  }

 

  td:nth-child(5) {
    display: flex;
    .btn {
      padding: initial
    }
  }
  
  
}